/* color variables */
:root {
	--bright-blue: #0079ff;
	--dark-blue: #4b6a9b;
	--grey-blue: #697c9a;
	--black-blue: #2b3442;
	--white-blue: #f6f8ff;
	--clear: #fefefe;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ---- Small (Phone) 375px ------ */
@media only screen and (min-width: 375px) and (max-width: 500px) and (min-height: 844px) and (-webkit-min-device-pixel-ratio: 3) {
	body {
		width: 87vw;
		color: blue;
	}
}

/* ---- Large (Desktop) 1440px --- */
body {
	width: 50%;
}
.result-container {
	display: flex;
	justify-content: center;
}
nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.theme-toggle-container {
	display: flex;
}
.toggle {
	display: flex;
	align-items: center;
}
.theme-icon {
	display: flex;
	padding: 10px;
}
button {
	color: var(--clear);
	background-color: var(--bright-blue);
	border: none;
	cursor: pointer;
	border-radius: 10px;
	padding: 10px 5px;
}
