/* color variables */
:root {
	--bright-blue: #0079ff;
	--dark-blue: #4b6a9b;
	--grey-blue: #697c9a;
	--black-blue: #2b3442;
	--white-blue: #f6f8ff;
	--clear: #fefefe;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.space-mono-regular {
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-style: normal;
}

.space-mono-bold {
	font-family: "Space Mono", monospace;
	font-weight: 700;
	font-style: normal;
}

h1 {
	font-family: "Space Mono", monospace;
	font-weight: 700;
	font-size: 26px;
	line-height: 38px;
}

h2 {
	font-family: "Space Mono", monospace;
	font-weight: 700;
	font-size: 22px;
	line-height: 33px;
}

h3 {
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

h4 {
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
}
