/* color variables */
:root {
	--bright-blue: #0079ff;
	--dark-blue: #4b6a9b;
	--grey-blue: #697c9a;
	--black-blue: #2b3442;
	--white-blue: #f6f8ff;
	--clear: #fefefe;
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #f6f8ff;
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	place-items: center;
	min-height: 100vh;
	font-family: "Space Mono", monospace;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}
h1 {
	font-family: "Space Mono", monospace;
	font-weight: 700;
	font-size: 26px;
	line-height: 38px;
}

h2 {
	font-family: "Space Mono", monospace;
	font-weight: 700;
	font-size: 22px;
	line-height: 33px;
}

h3 {
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
}

h4 {
	font-family: "Space Mono", monospace;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
}
